@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background-image: url('./wavy-lines.svg'); */
  background-size: cover;
  user-select: none;
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-app-region: drag;
}

button {
  -webkit-app-region: no-drag;
}
